[submodule ".config/nvim"]
    path = .config/nvim
    url = https://github.com/Rentib/nvim

[submodule ".local/src/dwl"]
    path = .local/src/dwl
    url = https://codeberg.com/Rentib/dwl
[submodule ".local/src/mew"]
    path = .local/src/mew
    url = https://codeberg.org/Rentib/mew
[submodule ".local/src/slstatus"]
    path = .local/src/slstatus
    url = https://github.com/Rentib/slstatus
