# To install beets with dependencies run:
# pip install "beets[autobpm,chroma,discogs,fetchart,lyrics,mpdstats,replaygain,scrub]"
# pip install beets-describe
plugins:
  - albumtypes
  - autobpm
  - chroma
  - describe
  - discogs
  - duplicates
  - fetchart
  - fromfilename
  - ftintitle
  - info
  - lyrics
  - missing
  - mpdstats
  - mpdupdate
  - replaygain
  - scrub
  - smartplaylist
  - spotify
  - unimported

directory: ~/music/
ignore_hidden: yes
original_date: yes
import:
  resume: ask
  incremental: yes
  incremental_skip_later: yes
  languages: [pl, en]
match:
  preferred:
    original_year: yes

autobpm:
  auto: no

discogs:
  source_weight: 0.4

fetchart:
  auto: yes
  cautious: true
  sources: itunes *

lyrics:
  auto: no
  dist_thresh: 0.11
  fallback: ''
  sources: [lrclib, tekstowo, genius]
  synced: yes

musicbrainz:
  extra_tags: [barcode, catalognumber, country, label, media, year]
  genres: yes
  external_ids:
    deezer: yes
    discogs: yes
    spotify: yes

smartplaylist:
  auto: yes
  relative_to: ~/music                  # mpd music directory
  playlist_dir: ~/.config/mpd/playlists # mpd playlist directory
  forward_slash: no
  playlists:
    - name: all.m3u
      query: ''
    - name: pl89bpm.m3u
      query: bpm:89 country:pl

replaygain:
  auto: no
  backend: ffmpeg

spotify:
  source_weight: 0.3

unimported:
  ignore_subdirectories: .venv

# https://docs.beets.io/en/latest/plugins/subsonicplaylist.html
# https://docs.beets.io/en/latest/plugins/subsonicupdate.html
