# To install beets with dependencies run:
# pip install "beets[albumtypes,chroma,discogs,duplicates,fetchart,fromfilename,ftintitle,info,lastgenre,lyrics,missing,mpdstats,mpdupdate,replaygain,scrub,smartplaylist,spotify,thumbnails,types,unimported]"
# pip install beets-describe
plugins:
  - albumtypes
  - chroma
  - describe
  - discogs
  - duplicates
  - fetchart
  - fromfilename
  - ftintitle
  - info
  - lastgenre
  - lyrics
  - missing
  - mpdstats
  - mpdupdate
  - replaygain
  - scrub
  - smartplaylist
  - spotify
  - thumbnails
  - types
  - unimported

directory: ~/music/
ignore_hidden: yes
original_date: yes
overwrite_null:
  rating: [5.0]
musicbrainz:
  extra_tags: [rating]
  genres: yes
  # external_ids:
  #   discogs: yes
  #   spotify: yes
  #   bandcamp: yes
  #   beatport: yes
  #   deezer: yes
  #   tidal: yes
match:
  preferred:
    original_year: yes

discogs:
  source_weight: 0.4

fetchart:
  cautious: true
  sources: itunes *

lyrics:
  synced: yes
  sources: [lrclib, tekstowo, genius]

smartplaylist:
  auto: yes
  relative_to: ~/music                  # mpd music directory
  playlist_dir: ~/.config/mpd/playlists # mpd playlist directory
  forward_slash: no
  playlists:
    - name: all.m3u
      query: ''

replaygain:
  auto: yes
  backend: ffmpeg

spotify:
  source_weight: 0.3

types:
  rating: float

unimported:
  ignore_subdirectories: .venv
